* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --primaireKleur: #ffffff;
    --secundaireKleur: #0a3250;
    --tertiaireKleur: #46aa64;
    --mainFont: "AvantGardeGothicMedium";
  }

  @font-face {
    font-family: "AvantGardeGothicMedium";
    src: url(./Fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf);
  }

  
  .site-nav-grid {
    font-family: "AvantGardeGothicMedium";
    background-color: var(--secundaireKleur);
    color: var(--primaireKleur);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spacer {
    width: 30px;
    height: 60px;
    padding-left: 60px;
    visibility: hidden;
}

.site-nav-grid h1 {
    margin: auto;
    font-size: 1.5rem;
    color: var(--primaireKleur);
    display: flex;
    
}

.hamburger-menu {
    display: block;
    cursor: pointer;
    padding-right: 30px;
}

.hamburger-menu .line {
    width: 30px;
    height: 3px;
    background-color: var(--primaireKleur);
    margin: 5px 0;
}

.site-nav-grid ul {
    display: none;
}
.grid-container {
    display: grid;
    grid-template-columns: 100%; /* Full width */
}

.image-container {
    position: relative; /* Needed for absolute positioning of the overlay */
    width: 100%;
    max-width: 630px; /* Adjust as needed */
    margin: auto;
}

.image-container img {
    width: 100%;
    height: auto;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Adjust as needed */
    color:var(--tertiaireKleur);
    text-align: center; 
}

 .header-overlay h2 {
    margin: 0;
    padding: 10px; /* Adjust for spacing */
    font-size: 30px;
    visibility: hidden;
} 



@media screen and (min-width: 630px) {
    /* Verberg het hamburgermenu op tablet/desktop */
    .hamburger-menu {
        display: none;
    }

    /* Toon en stijl de navigatielinks voor grotere schermen */
    .site-nav-grid ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    .site-nav-grid ul li {
        margin-right: 60px; /* Pas dit aan naar je voorkeur */
        
    }
    .site-nav-grid ul li a {
    color: var(--primaireKleur);
    text-decoration: none;
    font-size: 1rem; /* Adjust as needed */
}

    .site-nav-grid ul li a:hover {
    color: var(--tertiaireKleur); /* Change color on hover */
}
    .site-nav-grid h1 {
    padding-left: 60px;
  
    }
}

/* begin 'marktplaats' knoppen // Gezocht en aangeboden */
.marktplaats h3 {
    font-family: var(--mainFont);
    font-weight: lighter;
}


.aangeboden.active h3, .gezocht.active h3 {
    color: var(--tertiaireKleur);
}


.marktplaats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aangeboden, .gezocht {
    display: flex;
    justify-content: space-evenly;
    padding: 0.6em 0 1em 0;
    width: 50vw;
}

.aangeboden:focus-within, .gezocht:focus-within {
    --bottomBorder: 3px solid var(--tertiaireKleur);
    border-bottom: var(--bottomBorder)
}
.aangeboden.active, .gezocht.active {
    border-bottom: 3px solid var(--tertiaireKleur);
}



